html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
#open_bugs_div {
	font-size:100px;  
	padding-left: 30px;
}